@font-face {
    font-family: 'HelveticaNow';
    src:
        url('../assets/Helvetica/HelveticaNowDisplay-Medium.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNow';
    src: url('../assets/Helvetica/HelveticaNowDisplay-Light.woff2') format('woff2');
    font-weight: lighter;
}

@font-face {
    font-family: 'HelveticaNow';
    src:
        url('../assets/Helvetica/HelveticaNowDisplay-Black.woff2') format('woff2');
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


:root {
    --main-bg-color: #e0e0e0;
    --secondary-bg-color: #161616;
    --secondary-accent-color: #c92200;
    --secondary-txt-color: #FFFFFF;
    --main-txt-color: #5465FF;
    --dark-txt-color: #FFFFFF;
    --accent-color: #5465FF;
    --main-padding: 15px;
}

/* TABLE OF CONTENT

    1- GENERAL STYLES
    2- LANDING PAGE
    3- ABOUT
    4- SERVICES
    5- CONTACT
    6- MEDIA QUERIES & KEYFRAMES
 */
/* TABLE OF CONTENT

    1- GENERAL STYLES
    2- LANDING PAGE
    3- ABOUT
    4- SERVICES
    5- CONTACT
    6- MEDIA QUERIES & KEYFRAMES
 */

html,
body {
    font-family: 'HelveticaNow', Arial, Helvetica, sans-serif;
    background-color: #161616;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    cursor: none;
    padding: 0;
    margin: 0;
}


.replacement {
    width: 35vw;
    padding: 15px 0 0 15px;
    height: 100vh;
    background: #161616;
    z-index: 0;
}

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--secondary-txt-color);
    z-index: 3;
    user-select: none;
    pointer-events: none;
}

.cursor-follower {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--accent-color);
    z-index: 2;
    user-select: none;
    pointer-events: none;
    display: block;
    transform: translate(10px, 10px);
}

.scrollbar-thumb-plus {
    width: 1em;
    background: var(--accent-color);
}

li {
    text-decoration: none;
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

.grey {
    color: var(--main-txt-color);
}

#switch-mood {
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 50px;
    margin: 0;
    top: 50%;
    right: -75px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-90deg);
    transition: color ease-in-out 0.3s,
        background-color ease-in-out 0.3s;
}

#switch-mood:hover {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-accent-color);
}

.dark {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-accent-color);
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 2- LANDING PAGE */
/* --------------------------------------- */
#home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.menu-bloc {
    padding: 15px 0 0 15px;
    width: 34.5vw;
    height: 100vh;
    bottom: -5px;
    position: fixed;
    background: #161616;
    z-index: 1;
}

.bottom-menu-bloc {
    position: absolute;
    height: 35%;
    width: 100%;
    bottom: 0;
    left: 0;
    /* background-image: url("../assets/background.jpg"); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-menu-bloc ul {
    position: absolute;
    left: 30%;
    top: 20%;
}

.location {
    position: absolute;
    right: 5%;
    top: 5%;
}

.top-menu-bloc>h2 {
    color: var(--main-bg-color);
}

.top-menu-bloc>h2>span {
    font-size: 14px;
    position: relative;
    top: -10px;
    color: var(--main-bg-color);
}

.menu-item-wrapper {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    height: 25px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
}

.menu-title {
    padding-bottom: 30px;
    font-size: 12px;
    color: var(--main-bg-color);
}

.menu-item {
    color: var(--main-txt-color);
    font-size: 20px;
    padding-bottom: 5px;
    font-family: HelveticaNow;
    font-weight: bold;
    opacity: 1;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: transform ease-in-out 0.3s;
    animation-delay: 1s;
    line-height: 25px;
    height: 25px;
    width: 100%;
}

.menu-item:hover {
    cursor: none;
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    color: var(--dark-txt-color);

}

.selected {
    font-family: "HelveticaNow";
    font-weight: bold;
    color: var(--main-bg-color);
}

.content-bloc {
    position: relative;
    width: 65vw;
    height: 100vh;
    background-color: black;
    color: var(--secondary-txt-color);
    background-image: url("../assets/background.jpg");
    background-position: top 100% right 0%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animatedBackgroundMobile 4s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 4s;
}

.top-content-bloc {
    position: relative;
    left: 10%;
    top: 20%;
}

.red {
    color: var(--accent-color);
}

.white {
    color: var(--main-bg-color);
}

.welcome-wrapper {
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.welcome {
    font-size: 1vw;
    font-weight: lighter;
    color: var(--main-bg-color);
    line-height: 25px;
    height: 25px;
}

.title-wrapper {
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

#main-title {
    margin: 0;
    font-size: 5vw;
    font-weight: bold;
    color: var(--main-bg-color);
}


.bottom-content-bloc {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-items: start;
    align-items: center;

}

.bottom-content-bloc .wrapper {
    flex: 2;
    height: 100%;

}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

#shoutWrapper {
    cursor: none;
}

#shoutUs {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 1rem;
    animation: 1.5s ease-in 4.5s slideInFromLeft;
    cursor: none;
}



.about {
    height: 100%;
    padding: 0 10px;
    flex: 2;
    align-self: flex-end;
    line-height: 2.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about p {
    margin: 0;
    font-size: 2vw;
    padding-bottom: 21px;
    font-family: "HelveticaNow";
    font-weight: 400;
    text-transform: uppercase;
}


.underline {
    animation: 2s widthanimation 5.5s ease-in;
    width: 100%;
    height: 5px;
    border-bottom: 5px var(--main-bg-color) solid;
}

.about ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.about ul li a {
    font-size: 1vw;
    cursor: none;
    color: var(--main-bg-color);

}

.about ul li::before {
    content: "";
    position: relative;
    display: block;
    height: 10px;
    width: 0%;
    color: black;
    border-bottom: solid 3px var(--accent-color);
    transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

}

.about ul li:hover::before {
    width: 100%
}



/* ------------------------------------------------------- */
/* ABOUT SECTION */
/* ------------------------------------------------------- */
h2,
h4,
h6 {
    color: var(--main-bg-color);
}

p {
    color: var(--accent-color);
}

#about {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 65vw;
    height: 100vh;
}

.title h2 {
    width: 100%;
    font-weight: bold;
    font-size: 55px;
    margin: 0 0 30px 0;
    line-height: 60px;
    overflow: hidden;
    box-sizing: border-box;
}

#about .wrapper {
    width: 65vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40vh;
}

.about-content {
    margin-top: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--accent-color)
}

.my-line-wrapper {
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
}

.my-line {
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
    line-height: 24px;

}


#about .funny-text {
    align-self: center;
    padding-top: 50px;
    font-weight: lighter;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
}

/* ------------------------------------------------------- */
/* CAN DO SECTION */
/* ------------------------------------------------------- */

#cando {
    position: absolute;
    right: 0;
    top: 200vh;
    width: 65vw;
    height: 100vh;
    overflow: hidden;
    color: var(--dark-txt-color)
}

#cando .wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40vh;
    margin: 0;

}

#cando .wrapper .title {
    width: 100%;
}

.can-do {
    margin-top: 50px;
    width: 100%;
}

.can-do ul {
    padding: 0 20px 0 0;
    margin: 0;
    font-size: 30px;
    font-weight: lighter;
    overflow: hidden;
    box-sizing: border-box;
}

.can-do ul li {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--accent-color);
}

#cando .funny-text {
    align-self: center;
    font-weight: lighter;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
}

/* ------------------------------------------------------- */
/* projects SECTION */
/* ------------------------------------------------------- */

#projects {
    position: absolute;
    right: 0;
    top: 300vh;
    width: 65vw;
    height: 100vh;
    overflow: hidden;
    color: var(--main-bg-color);
}

#projects .wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40vh;
    margin: 0;

}

#projects .wrapper .title {
    width: 100%;
}

.projects {
    margin-top: 50px;
    width: 100%;
}

.projects ul {
    padding: 0 20px 0 0;
    margin: 0;
    font-size: 30px;
    font-weight: lighter;
    overflow: hidden;
    box-sizing: border-box;
}

.projects ul li {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: var(--main-bg-color);
    border-bottom: 2px solid var(--accent-color);
}

#projects .funny-text {
    align-self: center;
    font-weight: lighter;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
}



.navigation-item {
    display: block;
    user-select: none;

    margin: 0 0 50px;
}

#projects a {
    font-family: "HelveticaNow";
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    color: var(--main-bg-color)
}

#projects span {
    position: relative;
    display: block;
    margin-right: 20px;
}

.span-1:before {
    width: 0;
    color: var(--accent-color);
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.span-2:before {
    width: 0;
    color: var(--accent-color);
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.span-3:before {
    width: 0;
    color: var(--accent-color);
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.span-4:before {
    width: 0;
    color: var(--accent-color);
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}


.project-preview-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    direction: rtl;
    z-index: 6;
    justify-content: center;
}

.project-preview {
    position: fixed;
    top: 12%;
    right: 50%;
    width: 0px;
    height: 400px;
    direction: rtl;
    background: url(../assets/background.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

#projects .navigation-link {
    display: flex;
}


@media (max-width: 900px) {

    .progressbar,
    .project-preview-wrapper {
        display: none;
    }

    #projects a {
        font-size: 24px;
    }
}

/* ------------------------------------------------------- */
/* CONTACT SECTION */
/* ------------------------------------------------------- */

#contact {
    position: absolute;
    right: 0;
    top: 400vh;
    width: 65vw;
    height: 100vh;
    overflow: hidden;
}

#contact .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 40vh;
    margin: 0;

}

#contact .wrapper .title {
    width: 100%;
}

.bubble-wrapper {
    width: 40vw;
    box-sizing: border-box;
    overflow: hidden;
    cursor: none;
    display: grid;
    place-items: center;
    align-self: start;
}

.contact-bubble {
    width: 20vw;
    height: 40vh;
    cursor: none;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
}

.footer ul {
    width: 70%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.footer-content {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--accent-color);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--main-bg-color);
}

.footer ul li {
    padding: 10px 30px 10px 0;
}

.footer ul li {
    color: var(--dark-txt-color);
}

.footer ul li::before {
    content: "";
    position: relative;
    display: block;
    height: 10px;
    width: 0%;
    color: black;
    border-top: solid 2px var(--accent-color);
    transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.footer ul li:hover::before {
    width: 100%
}

.section-title-wrapper {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    box-sizing: border-box;
}






/* ------------------------------------------------------- */

/* KEY FRAMES */
/* ------------------------------------------------------- */
/* @keyframes animatedBackground {
    from {
        background-position: top 100% right -200%;
    }

    to {
        background-position: top 100% right 0%;
    }
} */



.loading-screen {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-bg-color);
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
    pointer-events: none;
    overflow: hidden;
}

.text-wrapper {
    color: var(--dark-txt-color);
    position: fixed;
}

.text {
    font-family: 'Montserrat',
        sans-serif;
    font-weight: bold;
    font-size: 5vw;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: var(--secondary-bg-color);
    -webkit-text-stroke: 1px var(--main-bg-color);
}

@keyframes blink {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    99% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }

    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }

    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}


@media (max-width: 990px) {

    /* width */
    ::-webkit-scrollbar {
        display: none;
    }

    .text {
        font-size: 24px;
    }

    .cursor,
    .cursor-follower {
        display: none;
    }

    html,
    body,
    .mainsec {
        overflow-x: hidden;
    }


    .replacement {
        display: none;
    }

    /* HEADER SECTION */



    .bottom-menu-bloc {
        display: none;
    }

    .menu-bloc {
        position: fixed;
        top: 0;
        width: 100%;
        height: 5vh;
        background: var(--accent-color);
        z-index: 2;
        padding: 15px 10px 20px;
        overflow: hidden;

    }

    .top-menu-bloc {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    }

    .top-menu-bloc ul {
        position: relative;
        width: 100%;
        flex: 5;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        left: 0;
        top: 0;

    }

    h2 {
        margin: 0;
    }

    .top-menu-bloc>h2 {
        width: 20px;
        font-size: 22px;
    }

    .top-menu-bloc>h2>span {
        font-size: 14px;
    }

    .menu-item-wrapper {
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        height: 14px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-decoration: none;
    }

    #dropout {
        display: none;
    }

    .menu-title {
        display: none;
    }

    .menu-item {
        color: var(--main-bg-color);
        font-size: 3vw;
        line-height: 3vw;
        height: 3vw;
        width: 100%;
    }

    .mobileLi {
        display: none;
    }

    .menu-item:hover {
        transform: none;
    }

    /* HOME SEC */

    .content-bloc {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: var(--secondary-txt-color);
        animation: none;
    }



    .top-content-bloc {
        position: absolute;
        top: 20%;
        left: 20px;
        width: 100vw;
        height: 100vh;
    }


    .welcome-wrapper {
        position: relative;
        height: 40px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .welcome {
        font-size: 14px;
        font-weight: bold;
        color: var(--main-bg-color);
        line-height: 25px;
        height: 25px;
    }

    .title-wrapper {
        position: relative;
        height: 50px;
        box-sizing: border-box;
        overflow: hidden;
    }

    #main-title {
        margin: 0;
        font-size: 30px;
        line-height: 50px;
        font-weight: bold;
        color: var(--main-bg-color);
    }


    .bottom-content-bloc {
        width: 100vw;
        height: 40vh;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-items: start;
        justify-content: space-around;
        align-items: flex-start;

    }

    .bottom-content-bloc .wrapper {
        height: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .shout-us {
        height: 15vh;
        transition: none
    }

    .shout-us:hover {
        width: 100%;
        background-color: var(--accent-color);
        color: var(--secondary-txt-color);
        transition: none;
    }



    .about p {
        padding: 0 10px;
        font-size: 5vw;
        font-weight: 600;
        font-family: "HelveticaNow", sans-serif;
        line-height: 5vw;
        display: flex;
        justify-content: center;
    }

    .underline {
        margin-bottom: 20px;
        width: 100%;
    }

    .about ul {
        display: none;
    }

    .location {
        margin-top: 50px
    }

    /* ------------------------------------------------------- */
    /* ABOUT SECTION */
    /* ------------------------------------------------------- */

    #about {
        overflow: hidden;
        position: absolute;
        top: 100vh;
        right: 0;
        width: 100vw;
        height: 100vh;
    }

    .title h2 {
        width: 100%;
        font-weight: bold;
        font-size: 30px;
        margin: 0 0 10px 0;
        line-height: 35px;

    }

    #about .wrapper {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .about-content {
        margin-top: 0;
        width: 100%;
        font-size: 14px;
        font-weight: lighter;
        box-sizing: border-box;
        overflow: hidden;
        padding-right: 30px;
    }

    .my-line-wrapper {
        height: 6vw;
        line-height: 6.5vw;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 6vw;
    }

    .my-line {
        box-sizing: border-box;
        overflow: hidden;
        font-size: 6vw;
        line-height: 6.5vw;

    }



    #about .funny-text {
        align-self: center;
        padding-top: 30px;
        font-weight: lighter;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 14px;
        line-height: 24px;
        padding-right: 30px;
    }

    /* ------------------------------------------------------- */
    /* CAN DO SECTION */
    /* ------------------------------------------------------- */

    #cando {
        position: absolute;
        right: 0;
        top: 200vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #cando .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin: 0;

    }

    #cando .wrapper .title {
        width: 100%;
    }

    .can-do {
        margin-top: 30px;
        width: 100%;
    }

    .can-do ul {
        padding: 0 20px 0 0;
        margin: 0;
        font-size: 30px;
        font-weight: lighter;
        overflow: hidden;
        box-sizing: border-box;
    }

    .can-do ul li {
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--accent-color);
    }

    #cando .funny-text {
        padding-right: 30;
    }

    /* ------------------------------------------------------- */
    /* projects SECTION */
    /* ------------------------------------------------------- */

    #projects {
        top: 300vh;
        width: 100vw;
        height: 75vh;
    }

    #projects .wrapper {
        width: 100%;
        padding: 20px;
    }

    #projects .wrapper .title {
        width: 100%;
    }

    .projects {
        width: 100%;
    }

    .projects ul {
        padding: 0 20px 0 0;
        margin: 0;
        font-size: 30px;
        font-weight: lighter;
        overflow: hidden;
        box-sizing: border-box;
    }

    .projects ul li {
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        border-bottom: 1px solid var(--accent-color);
    }

    #projects .funny-text {
        padding-right: 30px;
    }



    .navigation-item {
        margin: 0;
    }

    #projects a {
        font-size: 18px;

    }


    /* ------------------------------------------------------- */
    /* CONTACT SECTION */
    /* ------------------------------------------------------- */

    #contact {
        position: absolute;
        right: 0;
        top: 375vh;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #contact .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        margin: 0;
    }

    #contact .wrapper .title {
        width: 100%;
    }

    .bubble-wrapper {
        align-self: center;
        width: 200px;
        height: 200px;
        margin-left: 0px;
        margin-top: 0px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .contact-bubble {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        align-self: center;
        background-color: var(--accent-color);
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
    }

    .footer {
        width: 90%;

        display: flex;
        flex-direction: column;
        margin-right: 20px;

    }

    .footer ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }

    .footer-content {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--dark-txt-color);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: normal;
    }

    .footer ul li {
        padding: 10px 30px 10px 0;
        font-size: 14px;
    }

    .footer ul li {
        color: var(--dark-txt-color);
        font-size: 14px;
    }

    .footer ul li::before {
        content: "";
        position: relative;
        display: block;
        height: 10px;
        width: 0%;
        color: black;
        border-top: solid 2px black;
        transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    }

    .footer ul li:hover::before {
        width: 100%
    }

    .section-title-wrapper {
        height: 60px;
        line-height: 60px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .footer-social ul {
        margin: 0;
        width: 100%;
    }

    #back {
        max-height: 20px;
        overflow: hidden;
    }
}

@keyframes animatedBackgroundMobile {
    from {
        transform: scale(3.0)
    }

    to {
        transform: scale(1.0)
    }
}